extends layout
block content
  script(type="text/javascript").
    window.onload = function(){
    width = document.getElementById('backgroundContainer').offsetWidth;
    height = document.getElementById('backgroundContainer').offsetHeight;
    svgContainer = d3.select(".svg-container").append("svg")
    setInterval(drop,10);
    };
    function drop(){
        var text = Math.round(Math.random());
        var x = Math.random() * width;
        //console.log(width);
        svgContainer
        .append("g")
        .append("text")
        .attr("x", x)
        .attr("y", -200 )
        .attr("dy", "2em")
        .text(text)
        .transition()
          .duration(10000)
          .attr("y",1300)
          .remove();
     }
    
  #site
    #backgroundContainer.svg-container
       #background.svg
    #b.main
      h1= 'Bug Hunter Registration'
      p=  'I'm sorry, but registration is now closed."