extends layout
block content
  script(type="text/javascript").
    window.onload = function(){
    width = document.getElementById('backgroundContainer').offsetWidth;
    height = document.getElementById('backgroundContainer').offsetHeight;
    svgContainer = d3.select(".svg-container").append("svg")
    setInterval(drop,10);
    };
    function drop(){
        var text = Math.round(Math.random());
        var x = Math.random() * width;
        //console.log(width);
        svgContainer
        .append("g")
        .append("text")
        .attr("x", x)
        .attr("y", -200 )
        .attr("dy", "2em")
        .text(text)
        .transition()
          .duration(10000)
          .attr("y",1300)
          .remove();
     }
    
  #site
    #backgroundContainer.svg-container
       #background.svg
    #b.main
      h1= 'Bug Hunter Registration'

      p=  'Congradulations, Bug Hunter! Your mission will be to eliminate specific "bugs" from our system. Please provide your contact information below. We shall then provide you live updates on the "source" of the specific bug that requires "fixing" (your target).'
        br
        form(action="register", method="post")
          table
           tr
            td
             Your Full Name
            td
             input(type="text" name="name")
           tr
            td
             Your Location (X.X.XXX format)
            td
             input(type="text" name="location")
           tr
            td
             Your Email
            td
             input(type="text" name="email")
           tr
            td
             input(type="submit" value="submit")
